.product-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: lightgray;
}
.product-card img{
    height: 200px;
    width: 200px;
}