div .todo-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: lightblue;
    border-radius: 8px;
    border: 1px solid;;
    padding: 10px;
}